.header {
    background-image: url("../../../assets/thumb-1920-82317.jpg");
    overflow: hidden;
    background-size:cover;

}
.spartan {
    width: 5.5vw;
    height: 10vh;
    margin-right: auto;
    background-image: url("../../../assets/spartan-helmet-og.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.Rspartan {
    width: 5.5vw;
    height: 10vh;
    margin-left: auto;
    background-image: url("../../../assets/spartan-helmet-og-reversed.png");
    background-size: contain;
    background-repeat: no-repeat;
}
img {
    width: 5.5vw;
    height: 10vh;
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:1vh;
} 

.reverseparty {
    font-size: 4em;
    transform: rotateY(180deg);
}
.party {
    font-size: 4em;
}

p { 
    text-align: center;
    font-size: 7vh;
    font-family: "calibri light";
    color: rgb(255, 253, 253);
    font-weight: 900;

    background: rgb(202,190,190);
    background-size: 100%;
    border-radius: 2vh;
}

.textup {
    background-color: #A38585;
    border-bottom: 0.5vw solid rgb(202, 190, 190);
    border-right: 0.5vw solid rgb(202,190,190);
}

.textdown {
    border-top: 0.5vw solid rgb(202, 190, 190);
    background-color: #A38585;
    border-bottom: 0 solid #A38585;
    border-left: 0.5vw solid rgb(202,190,190);
}

.buttons {
    display: flex;
    flex-direction: row;
    
}

button {
    font-family: "calibri light";
    font-size: 4vh;
    font-weight: 900;
    color: white;
    display:inline-block;
    background-color: rgb(252,173,38);
    height: 7vh;
    transition-duration: 0.1s;
    border-color: transparent;
    border-radius: 1vh;
    border-top: 1vh solid rgba(192, 122, 0, 0.767);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.2vh;
    margin-top: 1.2vh;
    outline: none;
}

button:active {
    background-color: rgb(252,173,38);
    border-top: 0vh solid rgb(240, 159, 18);
    transform: rotateX(-20deg);
}

button:hover {

    font-size: 4.7vh;
}



