<div class='header'>
    <div class='title'>
        <h1 class='party'>🎉</h1>
        <p class='textup'>ZHIHENG FAN's</p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <p class='textdown'>WEBSITE</p>
        <h1 class='reverseparty'>🎉</h1>
    </div>

    <div class="buttons">
        <button routerLink="/landingpage">Personal Introduction</button>
        <button routerLink="/seniordesign">My Senior Design</button>
        <button routerLink="/">Experiences</button>
        <button routerLink="/">Contect Me</button>
    </div>

</div>