<div class='projectinfo'>
    <p>
        Volkswagen Group of America is the North American operation headquarters
        and subsidiary of the Volkswagen Group, which is comprised of 16 brands
        and produces a variety of cars, motorcycles and commercial vehicles.
    </p>

    <p>
        In 2013, Volkswagen introduced VW Car-Net, a connected service system
        that offers convenience and ease-of-access to Volkswagen owners through
        a variety of features and tools. Drivers currently interact with Car-Net
        through a mobile app. To reduce driver distraction resulting from
        drivers using their phones, the Car-Net team is building web apps
        that are available in the car’s screen called the Human Machine
        Interface (HMI).
    </p>

    <p>
        Working with the garage door and smart home company, Chamberlain,
        our VW Car-Net Smart Hub Web App enables users to automate interactions
        with Chamberlain products without any user input.
    </p>
    <p>
        Using our web app, a driver encompasses their house with a so-called
        geo-fence, which is simply a geographic area that triggers an action
        when the border of the geographic area is crossed. Once set, the garage
        door automatically opens when the vehicle crosses this border when
        approaching the house, and automatically closes when the vehicle crosses
        the geo-fenced border when leaving the house.
    </p>

    <p>
        In addition, our web app supports other Chamberlain smart home devices such as
        lights, gates and door locks.
    </p>
    <p>
        Our app enables control of all smart devices, regardless of location,
        from the VW HMI screen. Drivers also receive notifications relating
        to their smart devices directly in their car.
    </p>

    <p>
        VW Car-Net Smart Hub Web App utilizes the Google Maps and Chamberlain
        APIs to enable customer ease with setting up and activating the boundary
        alerts. Our web app is written in TypeScript, HTML and CSS using the
        web development framework Angular.
    </p>

</div>