<div class='projectinfo'>
    <div class='pictures'>
        <div class='teamphoto'></div>
        <label>This is my team photo</label>
    </div>

    <div class='description'>
        <h1>Project Introduction</h1>
        <p>
            My senior design task was to work with a team to create a app that runs on car'.<br>
            Our sponsor was Volkswagen American Group.
        </p>
    </div>
</div>

<div class='projectsamplepages'>
    <h1>Senior Design Page Introductions</h1>
    <div class='loginpage'>
        <div class='apppage'>
            <div class='app2'>

            </div>
            <label class='label'>App login page</label>
        </div>
        <p class='pageintro'>

        </p>
    </div>

    <div class='homepage'>
        <div class='apppage'>
            <div class='app1'>

            </div>
            <label class='label'>App home page</label>
        </div>
        <p class='pageintro'></p>
    </div>

    <div class='boundary'>
        <div class='apppage'>
            <div class='app4'>

            </div>
            <label class='label'>App boundary page</label>
        </div>
        <p class='pageintro'></p>
    </div>

    <div class='virtualkeyboard'>
        <div class='apppage'>
            <div class='app3'>

            </div>
            <label class='label'>Virtual keyboard</label>
        </div>
        <p class='pageintro'></p>
    </div>

    <div class='history'>
        <div class='apppage'>
            <div class='app5'>

            </div>
            <label class='label'>App history page</label>
        </div>
        <p class='pageintro'></p>
    </div>
</div>
<!-- <div class='projectlinks'>
    <div class='video'>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8z9GhNW1urY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <label>Project Video</label>
    </div>
    
    <div class='link'>
        <button (click)="intro()">Project Introduction</button>
    </div>
</div> -->