.seniordesignpage {
    background-color: rgba(220, 208, 192, 0.74);
}
.projectinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 5px solid #373737;
    padding-top: 0.5vh;
    border-radius:10px;
}

p { 
    color: rgb(0, 0, 0);
    text-align: justify;
    font-size: 2.5vh;
    font-family: 'calibri light';
    -webkit-font-family: 'calibri light';
    -moz-font-family: 'calibri light';
}
h1{
    font-size: 6vh;
    font-family: 'calibri light';
    -webkit-font-family: 'calibri light';
    -moz-font-family: 'calibri light';
    font-weight: 900;
}

.description {
    flex-grow: 1;
    max-width: 50vw;
    padding-right: 0.2vw;
    border-left: 3px solid #373737;
    border-right: 3px solid #373737;
    border-top: 3px solid #373737;
    background-image: url("../../../assets/Volkswagen-logo-2019-640x500.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;

}

.descriptiontext {
    font-size: 3vh;
    -webkit-text-stroke: 0.5px rgb(73, 73, 73);
}
.pictures {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.teamphoto {
    flex-grow: 2;
    height: 70vh;
    background: url("../../../assets/team-photo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.projectlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
}

.link {
    flex-grow: 1;
}

label {
    font-family: "calibri light";
    font-size:5vh;


}

.label {
    font-family: "calibri light";
    font-size:5vh;

}
.projectsamplepages{
    display: flex;
    flex-direction:column;
    margin-top: 10vh;
    border-top: 5px solid #373737;
    border-radius: 20px;
}

.homepage, .loginpage,.virtualkeyboard, .boundary,.history{
    max-height: 70vh;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom : 3px solid #373737;
    border-radius: 20px;

}

.app1,.app2,.app3,.app4,.app5{
    height: 50vh;

}

.pageintro{
    flex-grow: 1;
    max-width: 50vw;
    font-size: 3.2vh;
    background-color: rgba(153, 130, 97, 0.246);
    border-radius: 15px;
}
.apppage{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.app1{
    background: url("../../../assets/loginpage.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.app2{
    background: url("../../../assets/homepage.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.app3{
    background: url("../../../assets/virtualkeyboard.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.app4{
    background: url("../../../assets/boundary.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.app5 {
    background: url("../../../assets/history.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


iframe {
    padding-top: 10vh;
    width: 60vw;
    height: 60vh;
    border-radius: 2vh;
    border-bottom: 5px solid #373737;
    margin-left: auto;
    margin-right: auto;
}

.projectvideo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 5px solid #373737;
    border-radius: 20px;
}

