<div class='landingpage'>
    <div class='submain'>
        <div class='upper'>
            <div class='myphoto'>

            </div>

            <div class='right'>
                <h1>Self Introduction</h1>
                <p class='textonright'>
                    Hello, my name is Zhiheng Fan. I was born and brought up in Nanjing, China. I came to Michigan, United States 4 years ago
                    for studing in Michigan State University. My major was Computer Science.<br>
                    My major gpa was <span class='gpa'>3.56</span>.<br>
                    My cognate was Media Information. <br>
                    I've learned many computer langages such as : 
                    <span class='skills'>HTML,CSS,JavaScript,TypeScript,C++11,Php,MySQL,Python
                    </span>
                    And within these computer languages, I love HTML,CSS,and JavaScript the most.
                </p>
            </div>
        </div>

        <div class='lower'>
            <p class='textonbottom'>
                I’ve graduated in December 2019 with my bachelor's degree in Computer Science.
                 I just finished my capstone course with Volkswagen American Group, working as a Ui developer in a team of five.
                I was responsible for designing and implementing all the pages of our project.
                 My engineering co-op and course work in web development has also prepared 
                  me to work in Front-end development and design. I’m currently looking for a full-time job 
                  and would be thrilled to work for your company.
            </p>
        </div>
    </div>
</div>