/* You can add global styles to this file, and also import other style files */
main, html, body {
    margin: 0;
    padding: 0;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
}

main {
    text-align: center;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

html, body, header, footer, hgroup, nav, article, section, figure,
figcaption, h1, h2, h3, ul, li, body, div, p, img {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    -webkit-font-smoothing: antialiased;
}
